@import '../../lib/styles/mixins.scss';
@import '../../lib/styles/colors.scss';

.distributors {
  .content {
    @include flex-mix();
    flex-direction: row;
    margin: 100px 0;
    width: 100%;

    &.with-bg {
      padding: 100px 0;
      margin: 0;
    }

    .left, .right {
      @include flex-mix();
      flex-direction: column;
      width: 50%;
    }

    .image-block {
      justify-content: center;
      align-items: center;
      img {
        max-width: 457px;
        height: auto;
      }
    }

    .text-block {
      justify-content: center;
      h2 {
        max-width: 442px;
      }
      p {
        max-width: 510px;
      }
    }

    h3, h2, p {
      font-style: normal;
      font-stretch: normal;
    }
    h3 {
      font-size: 15px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: 1.2px;
      color: $PumpkinOrange;
    }
    h2 {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.52;
      letter-spacing: 2.3px;
      margin-top: 5px;
    }
    p {
      opacity: .5;
      font-size: 22px;
      font-weight: normal;
      line-height: 1.45;
      letter-spacing: normal;
      margin-top: 20px;
    }
    svg {
      margin-bottom: 35px;
    }
  }
}

@media (min-width: 800px) {
  .distributors {
    .section {
      &_1 {
        .content {
          margin-top: 52px;
          h2 {
            font-size: 32px;
            line-height: 1.5;
            letter-spacing: 2.5px;
          }
        }
      }
      &_2 {
        .content {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: -50%;
            height: 100%;
            width: 200%;
            background-color: $OffWhiteBg;
          }
        }
      }
      &_3 { .content { } }
      &_4 { .content { } }
      &_5 {
        .content {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: -50%;
            height: 100%;
            width: 200%;
            background-color: $OffWhiteBg;
          }
        }
      }
      &_6 { .content {} }
    }
  }
}