@import '../../lib/styles/mixins.scss';
@import '../../lib/styles/colors.scss';

@media (min-width: 800px) {
  .page-layout {

    header.header {
      .menu {
        .burger-button, .contact-us {
          display: none;
        }
        height: 128px;
        max-width: 650px;
        min-width: 550px;
        @include flex-mix();
        flex-direction: row;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        flex-grow: 1;
        .list {
          padding: 0;
          list-style: none;
          @include flex-mix();
          flex-grow: 1;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          .list-item {
            .nav-link {
              color: $Black;
              text-decoration: none;
              font-size: 1rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
            }
          }
        }
      }
    }
  }

  footer.footer {
    .menu {
      height: 100%;
      max-width: 760px;
      @include flex-mix();
      flex-direction: row;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      flex-grow: 1;
      .contact-us, .burger-button {
        display: none;
      }
      .list {
        padding: 0;
        list-style: none;
        @include flex-mix();
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .list-item {
          @include flex-mix();
          .nav-link {
            opacity: .5;
            color: $White;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
          }
        }
      }
    }
  }
}

// tablet
@media (min-width: 321px) and ( max-width: 799px ) {
  .page-layout {

    header.header {
      .logo {
        order: 1;
      }

      .contact-us {
        order: 2;
      }

      .menu {
        @include flex-mix();
        order: 3;
        height: 60px;
        width: 50px;
        transition: background-color .2s, width .2s;

        ul.list, & > .contact-us {
          display: none;
        }

        .burger-button {
          @include flex-mix();
          flex-direction: column;
          align-self: flex-end;
          width: 22px;
          height: 16px;
          justify-content: space-between;

          &:hover {
            cursor: pointer;
          }

          .line {
            width: 100%;
            height: 1px;
            border-top: 1px solid $Black
          }
        }
      }


      &.open {
        .delimiter {
          display: block;
          position: fixed;
          width: 60%;
          height: 100%;
          left: 0;
          top: 0;
          bottom: 0;
        }

        .contact-us {
          display: none;
        }

        .menu {
          height: 100%;
          width: 40%;
          background-color: $Orange;
          flex-direction: column;
          align-items: center;
          position: fixed;
          z-index: 3;
          right: 0;
          top: 0;
          bottom: 0;
          padding-top: 40px;

          transition: width .2s, background-color .2s;

          ul.list, &>.contact-us {
            @include flex-mix();
          }

          ul.list {
            list-style: none;
            flex-direction: column;
            align-items: center;
            margin-top: 45px;
            .list-item {
              margin-bottom: 25px;
              .nav-link {
                color: $White;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
              }
            }
          }

          &>.contact-us {
            flex-grow: 0;
            margin-right: 0;
            padding-right: 0;
            a {
              width: 200px;
              color: $Orange;
              background-color: $White;
            }
          }

          .burger-button {
            width: 30px;
            height: 30px;
            margin-right: 23px;
            .line {
              border-width: 2px;
              border-color:$White;

              &_1 {
                transform: rotate(45deg) translate(4px, 11px);
                -moz-transform: rotate(45deg) translate(4px, 11px);
                -webkit-transform: rotate(45deg) translate(4px, 11px);
              }
              &_2 {
                transform: rotate(45deg) translate(-6px, 1px);
                -moz-transform: rotate(45deg) translate(-6px, 1px);
                -webkit-transform: rotate(45deg) translate(-6px, 1px);
              }
              &_3 {
                transform: rotate(135deg) translate(-8px, 15px);
                -moz-transform: rotate(135deg) translate(-8px, 15px);
                -webkit-transform: rotate(135deg) translate(-8px, 15px);
              }
            }
          }
        }
      }
    }
  }

  footer.footer {
    .menu {
      display: none;
    }
  }
}

// mobile
@media (max-width: 320px) {
  .page-layout {

    header.header {

      .logo {
        order: 1;
      }

      .menu {
        @include flex-mix();
        order: 3;
        height: 40px;
        width: 50px;
        transition: background-color .2s, width .2s;

        ul.list, & > .contact-us {
          display: none;
        }

        .burger-button {
          @include flex-mix();
          flex-direction: column;
          align-self: flex-end;
          width: 22px;
          height: 16px;
          justify-content: space-between;

          &:hover {
            cursor: pointer;
          }

          .line {
            width: 100%;
            height: 1px;
            border-top: 1px solid $Black
          }
        }
      }

      &.open {
        .menu {
          height: 100%;
          width: 100%;
          background-color: $Orange;
          flex-direction: column;
          align-items: center;
          position: fixed;
          z-index: 3;
          right: 0;
          top: 0;
          bottom: 0;
          padding-top: 20px;

          transition: width .2s, background-color .2s;

          ul.list, &>.contact-us {
            @include flex-mix();
          }

          ul.list {
            list-style: none;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;
            .list-item {
              margin-bottom: 25px;
              .nav-link {
                color: $White;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
              }
            }
          }

          &>.contact-us {
            @include flex-mix();
            align-items: flex-start;
            justify-content: flex-end;
            flex-grow: 1;
            height: 102px;
            width: 100%;

            button {
              width: 100%;
              height: 42px;
              margin: 50px 15px 0;
              border: none;
              border-radius: 100px;
              background-color: $White;
              color: $Orange;
              font-weight: bold;
              @include font-size(16px);
            }
          }

          .burger-button {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            .line {
              border-width: 2px;
              border-color:$White;

              &_1 {
                transform: rotate(45deg) translate(4px, 11px);
                -moz-transform: rotate(45deg) translate(4px, 11px);
                -webkit-transform: rotate(45deg) translate(4px, 11px);
              }
              &_2 {
                transform: rotate(45deg) translate(-6px, 1px);
                -moz-transform: rotate(45deg) translate(-6px, 1px);
                -webkit-transform: rotate(45deg) translate(-6px, 1px);
              }
              &_3 {
                transform: rotate(135deg) translate(-8px, 15px);
                -moz-transform: rotate(135deg) translate(-8px, 15px);
                -webkit-transform: rotate(135deg) translate(-8px, 15px);
              }
            }
          }
        }
      }
    }
  }
}
