@media (min-width: 800px) {
  .page-layout header.header .menu {
    height: 128px;
    max-width: 650px;
    min-width: 550px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-grow: 1; }
    .page-layout header.header .menu .burger-button, .page-layout header.header .menu .contact-us {
      display: none; }
    .page-layout header.header .menu .list {
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .page-layout header.header .menu .list .list-item .nav-link {
        color: #000;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        border-bottom: 2px solid transparent;
        padding-bottom: 10px; }
        .page-layout header.header .menu .list .list-item .nav-link.active {
          color: #ef4500;
          border-bottom: 2px solid #ef4500; }
  footer.footer .menu {
    height: 100%;
    max-width: 760px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-grow: 1; }
    footer.footer .menu .contact-us, footer.footer .menu .burger-button {
      display: none; }
    footer.footer .menu .list {
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      footer.footer .menu .list .list-item {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; }
        footer.footer .menu .list .list-item .nav-link {
          opacity: .5;
          color: #fff;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal; } }

@media (min-width: 321px) and (max-width: 799px) {
  .page-layout header.header .logo {
    order: 1; }
  .page-layout header.header .contact-us {
    order: 2; }
  .page-layout header.header .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    order: 3;
    height: 60px;
    width: 50px;
    transition: background-color .2s, width .2s; }
    .page-layout header.header .menu ul.list, .page-layout header.header .menu > .contact-us {
      display: none; }
    .page-layout header.header .menu .burger-button {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      width: 22px;
      height: 16px;
      justify-content: space-between; }
      .page-layout header.header .menu .burger-button:hover {
        cursor: pointer; }
      .page-layout header.header .menu .burger-button .line {
        width: 100%;
        height: 1px;
        border-top: 1px solid #000; }
  .page-layout header.header .contact-us {
    display: none; }
  .page-layout header.header.open .delimiter {
    display: block;
    position: fixed;
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0; }
  .page-layout header.header.open .contact-us {
    display: none; }
  .page-layout header.header.open .menu {
    height: 100%;
    width: 47%;
    background-color: #ef4500;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 40px;
    transition: width .2s, background-color .2s; }
    .page-layout header.header.open .menu ul.list, .page-layout header.header.open .menu > .contact-us {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
    .page-layout header.header.open .menu ul.list {
      list-style: none;
      flex-direction: column;
      align-items: center;
      margin-top: 45px; }
      .page-layout header.header.open .menu ul.list .list-item {
        margin-bottom: 25px; }
        .page-layout header.header.open .menu ul.list .list-item .nav-link {
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          text-decoration: none; }
          .page-layout header.header.open .menu ul.list .list-item .nav-link.active {
            border-bottom: 2px solid #fff; }
    .page-layout header.header.open .menu > .contact-us {
      flex-grow: 0;
      margin-right: 0;
      padding-right: 0;
      font-size: 18px;
      text-decoration: none !important;
      margin-top: 20px;
      width: 100%;
      justify-content: center; }
      .page-layout header.header.open .menu > .contact-us a.nav-link {
        width: 60%;
        background-color: #fff;
        color: #ef4500;
        text-decoration: none !important;
        text-align: center;
        line-height: 42px; }
    .page-layout header.header.open .menu .burger-button {
      width: 30px;
      height: 30px;
      margin-right: 23px; }
      .page-layout header.header.open .menu .burger-button .line {
        border-width: 2px;
        border-color: #fff; }
        .page-layout header.header.open .menu .burger-button .line_1 {
          transform: rotate(45deg) translate(4px, 11px);
          -moz-transform: rotate(45deg) translate(4px, 11px);
          -webkit-transform: rotate(45deg) translate(4px, 11px); }
        .page-layout header.header.open .menu .burger-button .line_2 {
          transform: rotate(45deg) translate(-6px, 1px);
          -moz-transform: rotate(45deg) translate(-6px, 1px);
          -webkit-transform: rotate(45deg) translate(-6px, 1px); }
        .page-layout header.header.open .menu .burger-button .line_3 {
          transform: rotate(135deg) translate(-8px, 15px);
          -moz-transform: rotate(135deg) translate(-8px, 15px);
          -webkit-transform: rotate(135deg) translate(-8px, 15px); }
  footer.footer .menu {
    display: none; } }

@media (max-width: 320px) {
  .page-layout header.header .logo {
    order: 1; }
  .page-layout header.header .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    order: 3;
    height: 40px;
    width: 50px;
    transition: background-color .2s, width .2s; }
    .page-layout header.header .menu ul.list, .page-layout header.header .menu > .contact-us {
      display: none; }
    .page-layout header.header .menu .burger-button {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      width: 22px;
      height: 16px;
      justify-content: space-between; }
      .page-layout header.header .menu .burger-button:hover {
        cursor: pointer; }
      .page-layout header.header .menu .burger-button .line {
        width: 100%;
        height: 1px;
        border-top: 1px solid #000; }
  .page-layout header.header.open .menu {
    height: 100%;
    width: 100%;
    background-color: #ef4500;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 20px;
    transition: width .2s, background-color .2s; }
    .page-layout header.header.open .menu ul.list, .page-layout header.header.open .menu > .contact-us {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
    .page-layout header.header.open .menu ul.list {
      list-style: none;
      flex-direction: column;
      align-items: center;
      margin-top: 60px; }
      .page-layout header.header.open .menu ul.list .list-item {
        margin-bottom: 25px; }
        .page-layout header.header.open .menu ul.list .list-item .nav-link {
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          text-decoration: none; }
    .page-layout header.header.open .menu > .contact-us {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-grow: 1;
      height: 102px;
      width: 100%; }
      .page-layout header.header.open .menu > .contact-us a.nav-link {
        width: 100%;
        height: 42px;
        margin: 50px 15px 0;
        border: none;
        border-radius: 100px;
        background-color: #fff;
        color: #ef4500;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        line-height: 42px; }
    .page-layout header.header.open .menu .burger-button {
      width: 30px;
      height: 30px;
      margin-right: 20px; }
      .page-layout header.header.open .menu .burger-button .line {
        border-width: 2px;
        border-color: #fff; }
        .page-layout header.header.open .menu .burger-button .line_1 {
          transform: rotate(45deg) translate(4px, 11px);
          -moz-transform: rotate(45deg) translate(4px, 11px);
          -webkit-transform: rotate(45deg) translate(4px, 11px); }
        .page-layout header.header.open .menu .burger-button .line_2 {
          transform: rotate(45deg) translate(-6px, 1px);
          -moz-transform: rotate(45deg) translate(-6px, 1px);
          -webkit-transform: rotate(45deg) translate(-6px, 1px); }
        .page-layout header.header.open .menu .burger-button .line_3 {
          transform: rotate(135deg) translate(-8px, 15px);
          -moz-transform: rotate(135deg) translate(-8px, 15px);
          -webkit-transform: rotate(135deg) translate(-8px, 15px); } }
