@media (min-width: 800px) {
  .home .section_1 {
    height: 770px; }
    .home .section_1 .home-head-bg:before {
      content: "";
      background-color: #fff7e8;
      z-index: -1;
      position: absolute;
      top: -348px;
      left: 0;
      width: 100%;
      height: 1000px;
      transform: skewY(-9deg); }
    .home .section_1 .content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 30px; }
      .home .section_1 .content .left {
        padding-top: 112px;
        width: 60%; }
        .home .section_1 .content .left h3 {
          color: #ef4500; }
        .home .section_1 .content .left h2 {
          font-size: 32px;
          margin-top: 5px;
          width: 300px; }
        .home .section_1 .content .left p {
          opacity: 0.5;
          width: 512px;
          font-size: 22px;
          line-height: 1.45;
          margin-top: 23px; }
      .home .section_1 .content .right {
        width: 40%;
        padding-top: 60px;
        padding-right: 47px; }
  .home .section_2 {
    height: 1000px; }
    .home .section_2 .content {
      margin: 0 30px; }
      .home .section_2 .content .slick-slider {
        display: none; }
      .home .section_2 .content .section-title {
        padding-top: 152px; }
        .home .section_2 .content .section-title h2, .home .section_2 .content .section-title h3 {
          text-align: center; }
        .home .section_2 .content .section-title h3 {
          color: #ef4500;
          margin-bottom: 9px; }
        .home .section_2 .content .section-title h2 {
          width: 570px;
          margin: 0 auto; }
      .home .section_2 .content .content-main {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; }
        .home .section_2 .content .content-main .left {
          padding-top: 208px;
          width: 60%; }
          .home .section_2 .content .content-main .left h3 {
            color: #ef4500;
            margin-bottom: 10px; }
          .home .section_2 .content .content-main .left ul {
            width: 100%;
            margin-top: 70px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-flow: row wrap; }
            .home .section_2 .content .content-main .left ul li {
              flex-basis: 250px;
              padding-left: 37px;
              margin-right: 10px;
              margin-bottom: 70px;
              position: relative; }
              .home .section_2 .content .content-main .left ul li > svg {
                position: absolute;
                top: -3px;
                left: -1px; }
              .home .section_2 .content .content-main .left ul li h4 {
                font-size: 14px;
                margin-bottom: 15px; }
              .home .section_2 .content .content-main .left ul li p {
                opacity: 0.7;
                font-size: 16px;
                line-height: 1.56; }
        .home .section_2 .content .content-main .right {
          width: 40%;
          padding-top: 87px;
          padding-right: 30px; }
  .home .section_3 {
    height: 675px;
    position: relative;
    margin-top: 90px; }
    .home .section_3:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 200%;
      height: 100%;
      left: -50%;
      background-color: #fff7e8; }
    .home .section_3 .content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      height: 100%; }
      .home .section_3 .content .left {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        height: 100%;
        width: 50%;
        padding-left: 100px;
        justify-content: center;
        align-items: center; }
      .home .section_3 .content .right {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        padding-left: 125px;
        padding-top: 183px;
        align-items: left; }
        .home .section_3 .content .right svg {
          margin-bottom: 35px; }
        .home .section_3 .content .right h2 {
          font-size: 27px;
          font-weight: bold;
          line-height: 1.52;
          letter-spacing: 2.3px;
          margin-bottom: 23px; }
        .home .section_3 .content .right p {
          opacity: 0.5;
          font-size: 22px;
          line-height: 1.45; }
  .home .section_4 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 990px;
    margin: 0 30px;
    position: relative; }
    .home .section_4 .content:before {
      content: '';
      position: absolute;
      top: 105px;
      left: -50%;
      width: 200%;
      height: 500px;
      z-index: -1;
      background: #f1c010;
      transform: skewY(-10deg);
      transform-origin: 100% 0; }
    .home .section_4 .content:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -50%;
      width: 200%;
      height: 500px;
      z-index: -1;
      background: #f1c010; }
    .home .section_4 .content .left {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      flex-basis: 497px;
      justify-content: flex-end;
      align-items: center; }
    .home .section_4 .content .right {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-basis: 556px;
      align-items: flex-start;
      justify-content: center; }
      .home .section_4 .content .right svg {
        margin-left: -28px;
        margin-bottom: 32px; }
      .home .section_4 .content .right h2 {
        color: #fff;
        font-size: 27px;
        line-height: 1.52;
        letter-spacing: 2.3px;
        margin-bottom: 22px; }
      .home .section_4 .content .right p {
        color: #fff;
        opacity: 0.7;
        font-size: 22px;
        line-height: 1.45; }
  .home .section_5 .content, .home .section_6 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px; }
    .home .section_5 .content svg, .home .section_6 .content svg {
      margin-bottom: 40px; }
    .home .section_5 .content p, .home .section_6 .content p {
      margin-top: 20px;
      opacity: 0.5;
      font-size: 22px;
      text-align: center;
      line-height: 1.45;
      max-width: 550px; }
    .home .section_5 .content img, .home .section_6 .content img {
      margin-top: 60px; }
  .home .section_6 .carousel {
    width: 100%;
    height: 1000px;
    padding-bottom: 95px; }
    .home .section_6 .carousel .slick-slider {
      height: 100%; }
      .home .section_6 .carousel .slick-slider .slick-list {
        height: 630px; }
      .home .section_6 .carousel .slick-slider .slick-dots {
        bottom: 0; }
        .home .section_6 .carousel .slick-slider .slick-dots > h3 {
          font-size: 22px;
          font-weight: normal;
          text-transform: none;
          line-height: 1.45;
          color: #fb8e0d;
          margin-bottom: 80px; }
        .home .section_6 .carousel .slick-slider .slick-dots ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%; }
          .home .section_6 .carousel .slick-slider .slick-dots ul:before {
            content: '';
            z-index: -1;
            position: absolute;
            left: 13%;
            top: 126px;
            height: 0;
            width: 74%;
            border-top: 1px dashed #fb8e0d; }
          .home .section_6 .carousel .slick-slider .slick-dots ul li {
            width: auto;
            max-width: 270px;
            height: auto;
            text-align: center; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li div {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li .number {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              align-self: center;
              margin-bottom: 40px;
              width: 32px;
              height: 32px;
              border-radius: 50%;
              color: #fb8e0d;
              background-color: #fee8ce;
              font-size: 16px;
              font-weight: bold;
              position: relative; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li h3 {
              font-size: 18px;
              font-weight: bold;
              text-transform: none;
              color: #000;
              margin-bottom: 10px; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li p {
              font-size: 16px;
              line-height: 1.56;
              text-align: center; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li.slick-active .number {
              color: #fff;
              background-color: #fb8e0d; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li.slick-active h3, .home .section_6 .carousel .slick-slider .slick-dots ul li.slick-active p {
              opacity: 1;
              color: #fb8e0d; } }

@media (min-width: 321px) and (max-width: 799px) {
  .home .section_1 .home-head-bg:before {
    content: "";
    background-color: #fff7e8;
    z-index: -1;
    position: absolute;
    top: -220px;
    left: 0;
    width: 100%;
    height: 1000px;
    transform: skewY(-9deg); }
  .home .section_1 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    text-align: center; }
    .home .section_1 .content .left {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .home .section_1 .content .left h3 {
        color: #fa8707;
        margin-bottom: 10px; }
      .home .section_1 .content .left h2 {
        max-width: 330px;
        line-height: 1.7;
        letter-spacing: 2.5px;
        margin-bottom: 24px; }
      .home .section_1 .content .left p {
        opacity: 0.5;
        font-size: 22px;
        line-height: 1.45;
        margin-bottom: 60px; }
  .home .section_2 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 0 30px 100px; }
    .home .section_2 .content .slick-slider {
      display: none; }
    .home .section_2 .content .section-title {
      text-align: center;
      margin-top: 102px; }
      .home .section_2 .content .section-title h3 {
        color: #fa8707;
        margin-bottom: 7px; }
      .home .section_2 .content .section-title h2 {
        margin: 0 auto;
        max-width: 600px; }
    .home .section_2 .content .content-main {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column; }
      .home .section_2 .content .content-main .left {
        margin-top: 83px; }
        .home .section_2 .content .content-main .left h2, .home .section_2 .content .content-main .left h3 {
          display: none; }
        .home .section_2 .content .content-main .left ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around; }
          .home .section_2 .content .content-main .left ul li {
            position: relative;
            max-width: 280px;
            padding-left: 20px;
            margin-left: 38px;
            margin-bottom: 65px; }
            .home .section_2 .content .content-main .left ul li svg {
              position: absolute;
              top: -5px;
              left: -15px; }
            .home .section_2 .content .content-main .left ul li h4 {
              font-size: 14px;
              font-weight: bold;
              letter-spacing: 0.6px;
              text-transform: uppercase;
              margin-bottom: 15px; }
            .home .section_2 .content .content-main .left ul li p {
              opacity: 0.7;
              font-size: 16px;
              font-weight: normal;
              line-height: 1.56;
              letter-spacing: 0.5px; }
      .home .section_2 .content .content-main .right {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center; }
  .home .section_3 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding: 0 30px 100px;
    position: relative; }
    .home .section_3 .content:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 200%;
      height: 100%;
      left: -50%;
      background-color: #fff7e8; }
    .home .section_3 .content .left {
      order: 2;
      text-align: center;
      margin-top: 70px; }
    .home .section_3 .content .right {
      order: 1;
      text-align: center;
      margin-top: 100px; }
      .home .section_3 .content .right svg {
        margin-bottom: 35px; }
      .home .section_3 .content .right h2 {
        margin-bottom: 20px; }
      .home .section_3 .content .right p {
        opacity: 0.5;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45; }
  .home .section_4 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 100px 30px 105px;
    position: relative;
    align-items: stretch; }
    .home .section_4 .content:before {
      content: '';
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      z-index: -1;
      background-color: #f1c010; }
    .home .section_4 .content .left {
      text-align: center;
      width: 50%; }
      .home .section_4 .content .left img {
        max-width: 319px;
        max-height: 560px; }
    .home .section_4 .content .right {
      width: 50%;
      color: #fff; }
      .home .section_4 .content .right svg {
        display: none; }
      .home .section_4 .content .right h2 {
        max-width: 253px; }
      .home .section_4 .content .right p {
        max-width: 323px;
        opacity: 0.7;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        margin-top: 20px; }
  .home .section_5 .content, .home .section_6 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px; }
    .home .section_5 .content svg, .home .section_6 .content svg {
      margin-top: 100px; }
    .home .section_5 .content h2, .home .section_6 .content h2 {
      margin-top: 35px; }
    .home .section_5 .content p, .home .section_6 .content p {
      max-width: 510px;
      margin-top: 20px;
      opacity: 0.5;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45; }
    .home .section_5 .content img, .home .section_6 .content img {
      margin-top: 60px; }
  .home .section_6 .carousel {
    width: 100%;
    height: 840px;
    padding-bottom: 95px; }
    .home .section_6 .carousel .slick-slider {
      height: 100%; }
      .home .section_6 .carousel .slick-slider img {
        max-width: 60%; }
      .home .section_6 .carousel .slick-slider .slick-list {
        height: 630px; }
      .home .section_6 .carousel .slick-slider .slick-dots {
        bottom: 0; }
        .home .section_6 .carousel .slick-slider .slick-dots > h3 {
          font-size: 22px;
          font-weight: normal;
          text-transform: none;
          line-height: 1.45;
          color: #fb8e0d;
          margin-bottom: 80px; }
        .home .section_6 .carousel .slick-slider .slick-dots ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%; }
          .home .section_6 .carousel .slick-slider .slick-dots ul:before {
            content: '';
            z-index: -1;
            position: absolute;
            left: 15%;
            top: 126px;
            height: 0;
            width: 70%;
            border-top: 1px dashed #fb8e0d; }
          .home .section_6 .carousel .slick-slider .slick-dots ul li {
            width: auto;
            max-width: 270px;
            height: auto;
            text-align: center; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li div {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li .number {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              align-self: center;
              margin-bottom: 40px;
              width: 32px;
              height: 32px;
              border-radius: 50%;
              color: #fb8e0d;
              background-color: #fee8ce;
              font-size: 16px;
              font-weight: bold;
              position: relative; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li h3 {
              font-size: 18px;
              font-weight: bold;
              text-transform: none;
              color: #000;
              margin-bottom: 10px; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li p {
              font-size: 16px;
              line-height: 1.56;
              text-align: center; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li.slick-active .number {
              color: #fff;
              background-color: #fb8e0d; }
            .home .section_6 .carousel .slick-slider .slick-dots ul li.slick-active h3, .home .section_6 .carousel .slick-slider .slick-dots ul li.slick-active p {
              opacity: 1;
              color: #fb8e0d; } }

@media (max-width: 320px) {
  .page-layout .home .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 0 16px; }
  .page-layout .home h3 {
    color: #fa8707;
    margin-bottom: 10px; }
  .page-layout .home h2 {
    max-width: 300px;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.74;
    letter-spacing: 1.6px; }
  .page-layout .home .section_1 .home-head-bg:before {
    content: "";
    background-color: #fff7e8;
    z-index: -1;
    position: absolute;
    top: -520px;
    left: 0;
    width: 100%;
    height: 1000px;
    transform: skewY(-9deg); }
  .page-layout .home .section_1 .content {
    margin: 0 16px;
    text-align: center; }
    .page-layout .home .section_1 .content .left {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .page-layout .home .section_1 .content .left h2 {
        max-width: 280px;
        font-size: 21px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 1.6px; }
      .page-layout .home .section_1 .content .left p {
        display: none; }
    .page-layout .home .section_1 .content .right {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px; }
      .page-layout .home .section_1 .content .right img {
        max-width: 286px; }
  .page-layout .home .section_2 .content {
    margin-bottom: 100px; }
    .page-layout .home .section_2 .content .section-title {
      text-align: center;
      margin-top: 70px; }
    .page-layout .home .section_2 .content .content-main {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column; }
      .page-layout .home .section_2 .content .content-main .left {
        margin-top: 63px; }
        .page-layout .home .section_2 .content .content-main .left h2, .page-layout .home .section_2 .content .content-main .left h3 {
          display: none; }
        .page-layout .home .section_2 .content .content-main .left > ul {
          display: none; }
        .page-layout .home .section_2 .content .content-main .left .slick-slider {
          height: 250px; }
          .page-layout .home .section_2 .content .content-main .left .slick-slider .carousel-item {
            position: relative;
            max-width: 260px;
            padding-left: 20px;
            margin-left: 15px; }
            .page-layout .home .section_2 .content .content-main .left .slick-slider .carousel-item svg {
              position: absolute;
              top: -5px;
              left: -15px; }
            .page-layout .home .section_2 .content .content-main .left .slick-slider .carousel-item h4 {
              font-size: 14px;
              font-weight: bold;
              letter-spacing: 0.6px;
              text-transform: uppercase;
              margin-bottom: 15px;
              margin-top: 10px; }
            .page-layout .home .section_2 .content .content-main .left .slick-slider .carousel-item p {
              opacity: 0.7;
              font-size: 16px;
              font-weight: normal;
              line-height: 1.56;
              letter-spacing: 0.5px; }
          .page-layout .home .section_2 .content .content-main .left .slick-slider .slick-dots {
            bottom: 20px; }
            .page-layout .home .section_2 .content .content-main .left .slick-slider .slick-dots .dot {
              color: #ffc013;
              font-size: 12px;
              font-weight: 900; }
            .page-layout .home .section_2 .content .content-main .left .slick-slider .slick-dots .slick-active .dot {
              text-align: center;
              width: 22px;
              height: 22px;
              line-height: 22px;
              color: #fff;
              border-radius: 50%;
              background-color: #d90900; }
      .page-layout .home .section_2 .content .content-main .right {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center; }
  .page-layout .home .section_3 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding: 0 30px 100px;
    position: relative; }
    .page-layout .home .section_3 .content:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 200%;
      height: 100%;
      left: -50%;
      background-color: #fff7e8; }
    .page-layout .home .section_3 .content .left {
      order: 2;
      text-align: center;
      margin-top: 70px; }
    .page-layout .home .section_3 .content .right {
      order: 1;
      text-align: center;
      margin-top: 100px; }
      .page-layout .home .section_3 .content .right svg {
        margin-bottom: 35px; }
      .page-layout .home .section_3 .content .right h2 {
        margin-bottom: 20px; }
      .page-layout .home .section_3 .content .right p {
        opacity: 0.5;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45; }
  .page-layout .home .section_4 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 100px 30px 105px;
    position: relative;
    align-items: stretch; }
    .page-layout .home .section_4 .content:before {
      content: '';
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      z-index: -1;
      background-color: #f1c010; }
    .page-layout .home .section_4 .content .left {
      text-align: center;
      width: 50%; }
      .page-layout .home .section_4 .content .left img {
        max-width: 319px;
        max-height: 560px; }
    .page-layout .home .section_4 .content .right {
      width: 50%;
      color: #fff; }
      .page-layout .home .section_4 .content .right svg {
        display: none; }
      .page-layout .home .section_4 .content .right h2 {
        max-width: 253px; }
      .page-layout .home .section_4 .content .right p {
        max-width: 323px;
        opacity: 0.7;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        margin-top: 20px; }
  .page-layout .home .section_5 .content, .page-layout .home .section_6 .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px; }
    .page-layout .home .section_5 .content svg, .page-layout .home .section_6 .content svg {
      margin-top: 100px; }
    .page-layout .home .section_5 .content h2, .page-layout .home .section_6 .content h2 {
      margin-top: 35px; }
    .page-layout .home .section_5 .content p, .page-layout .home .section_6 .content p {
      max-width: 510px;
      margin-top: 20px;
      opacity: 0.5;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45; }
    .page-layout .home .section_5 .content img, .page-layout .home .section_6 .content img {
      margin-top: 60px; }
  .page-layout .home .section_6 .carousel {
    width: 100%;
    height: 840px;
    padding-bottom: 95px; }
    .page-layout .home .section_6 .carousel .slick-slider {
      height: 100%; }
      .page-layout .home .section_6 .carousel .slick-slider img {
        max-width: 60%; }
      .page-layout .home .section_6 .carousel .slick-slider .slick-list {
        height: 630px; }
      .page-layout .home .section_6 .carousel .slick-slider .slick-dots {
        bottom: 0; }
        .page-layout .home .section_6 .carousel .slick-slider .slick-dots > h3 {
          font-size: 22px;
          font-weight: normal;
          text-transform: none;
          line-height: 1.45;
          color: #fb8e0d;
          margin-bottom: 80px; }
        .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%; }
          .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul:before {
            content: '';
            z-index: -1;
            position: absolute;
            left: 15%;
            top: 126px;
            height: 0;
            width: 70%;
            border-top: 1px dashed #fb8e0d; }
          .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul li {
            width: auto;
            max-width: 270px;
            height: auto;
            text-align: center; }
            .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul li div {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center; }
            .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul li .number {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              align-self: center;
              margin-bottom: 40px;
              width: 32px;
              height: 32px;
              border-radius: 50%;
              color: #fb8e0d;
              background-color: #fee8ce;
              font-size: 16px;
              font-weight: bold;
              position: relative; }
            .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul li h3 {
              font-size: 18px;
              font-weight: bold;
              text-transform: none;
              color: #000;
              margin-bottom: 10px; }
            .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul li p {
              font-size: 16px;
              line-height: 1.56;
              text-align: center; }
            .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul li.slick-active .number {
              color: #fff;
              background-color: #fb8e0d; }
            .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul li.slick-active h3, .page-layout .home .section_6 .carousel .slick-slider .slick-dots ul li.slick-active p {
              opacity: 1;
              color: #fb8e0d; } }
