@import '../../lib/styles/mixins.scss';
@import '../../lib/styles/colors.scss';

.home {
  width: 100%;
}

@media ( min-width: 761px ) {
  .home {
    .section {
      &_1 {
        height: 770px;

        .home-head-bg:before {
          content: "";
          background-color: $OffWhiteBg;
          z-index: -1;
          position: absolute;
          top: -348px;
          left: 0;
          width: 100%;
          height: 1000px;
          transform: skewY(-9deg);
        }

        .content {
          @include flex-mix();
          margin: 0 30px;

          .left {
            padding-top: 112px;
            width: 60%;

            h3 {
              color: $Orange;
            }

            h2 {
              font-size: 32px;
              margin-top: 5px;
              width: 300px;
            }
            p {
              opacity: 0.5;
              width: 512px;
              font-size: 22px;
              line-height: 1.45;
              margin-top: 23px;
            }
          }
          .right {
            width: 40%;
            padding-top: 60px;
            padding-right: 47px;
          }
        }
      }
      &_2 {
        height: 1000px;

        .content {
          margin: 0 30px;

          .section-title {
            padding-top: 152px;
            h2, h3 {
              text-align: center;
            }
            h3 {
              color: $Orange;
              margin-bottom: 9px;
            }
            h2 {
              width: 570px;
              margin: 0 auto;
            }
          }

          .content-main {
            @include flex-mix();

            .left {
              padding-top: 208px;
              width: 60%;

              h3 {
                color: $Orange;
                margin-bottom: 10px;
              }
              ul {
                width: 100%;
                margin-top: 70px;
                @include flex-mix();
                flex-flow: row wrap;

                li {
                  flex-basis: 250px;
                  padding-left: 37px;
                  margin-right: 10px;
                  margin-bottom: 70px;
                  position: relative;

                  &>svg {
                    position: absolute;
                    top: -3px;
                    left: -1px;
                  }

                  h4 {
                    font-size: 14px;
                    margin-bottom: 15px;
                  }
                  p {
                    opacity: 0.7;
                    font-size: 16px;
                    line-height: 1.56;
                  }
                }
              }
            }
            .right {
              width: 40%;
              padding-top: 87px;
              padding-right: 30px;
            }
          }
        }
      }
      &_3 {
        height: 675px;
        position: relative;
        margin-top: 90px;

        &:before {
          content: '';
          position: absolute;
          z-index: -1;
          width: 200%;
          height: 100%;
          left: -50%;
          background-color: $OffWhiteBg;
        }

        .content {
          @include flex-mix();
          justify-content: space-between;
          height: 100%;

          .left {
            @include flex-mix();
            height: 100%;
            width: 50%;
            padding-left: 100px;
            justify-content: center;
            align-items: center;
          }
          .right {
            @include flex-mix();
            flex-direction: column;
            height: 100%;
            width: 50%;
            padding-left: 125px;
            padding-top: 183px;
            align-items: left;

            svg {
              margin-bottom: 35px;
            }
            h2 {
              font-size: 27px;
              font-weight: bold;
              line-height: 1.52;
              letter-spacing: 2.3px;
              margin-bottom: 23px;
            }
            p {
              opacity: 0.5;
              font-size: 22px;
              line-height: 1.45;
            }
          }
        }
      }
      &_4 {
        .content {
          @include flex-mix();
          flex-direction: row;
          justify-content: space-between;
          height: 1000px;
          margin: 0 30px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: 105px;
            left: -50%;
            width: 200%;
            height: 500px;
            z-index: -1;
            background: $LighterYellowBg;
            transform: skewY(-10deg);
            transform-origin: 100% 0;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -29%;
            width: 200%;
            height: 500px;
            z-index: -1;
            background: $LighterYellowBg;
          }

          .left {
            @include flex-mix();
            height: 100%;
            flex-basis: 497px;
            justify-content: flex-end;
            align-items: center;
            padding-top: 28px;
          }
          .right {
            @include flex-mix();
            flex-direction: column;
            height: 100%;
            flex-basis: 556px;
            padding-top: 227px;

            svg {
              margin-left: -28px;
              margin-bottom: 0;
            }
            h2 {
              color: $White;
              font-size: 27px;
              line-height: 1.52;
              letter-spacing: 2.3px;
              margin-bottom: 22px;
            }
            p {
              color: $White;
              opacity: 0.7;
              font-size: 22px;
              line-height: 1.45;
            }
          }
        }
      }
      &_5 {

      }
      &_6 {

      }

    }

  }
}

// tablet
@media ( max-width: 760px ) {
  .page-layout {
  }
}

// mobile
@media ( max-width: 320px ) {
  .page-layout {

  }
}
