@import '../../lib/styles/mixins.scss';
@import '../../lib/styles/colors.scss';

.service {
  .content {
    @include flex-mix();
    margin: 0 30px;
    width: 100%;

    svg {
      margin-bottom: 35px;
    }
    h3 {
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.2px;
      color: $PumpkinOrange;
    }
    h2 {
      font-size: 27px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.52;
      letter-spacing: 2.3px;
      margin-top: 5px;
    }
    p {
      opacity: .5;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      letter-spacing: normal;
      margin-top: 20px;
    }
  }
  .section {
    &_1 {
      .content {

      }
    }
    &_2 {
      .content {

      }
    }
    &_3 {
      .content {

      }
    }
    &_4 {
      .content {

      }
    }
    &_5 {
      .content {

      }
    }
    &_6 {
      .content {

      }
    }
    &_7 {
      .content {

      }
    }
    &_8 {
      .content {

      }
    }
    &_9 {
      .content {

      }
    }
  }
}

@media ( min-width: 800px ) {
  .service {
    .section {
      &_1 {
        .content {
          flex-direction: row;
          margin-top: 100px;

          h2 {
            font-size: 32px;
            line-height: 1.5;
            letter-spacing: 2.5px;
            max-width: 350px;
          }
          p {
            max-width: 483px;
          }

          img {
            @include flex-mix();
            align-self: flex-end;
          }
        }
      }
      &_2 {
        .content {
          justify-content: space-between;
          margin-top: 162px;
          h2 {
            max-width: 300px;
          }
          p {
            max-width: 550px;
          }
          .left, .right {
            width: 50%;
          }
          .right {
            justify-content: center;
          }
        }
      }
      &_3 {
        .content {
          margin-top: 120px;
          .left, .right {
            width: 50%;
          }
        }
      }
      &_4 {
        .content {

        }
      }
      &_5 {
        .content {

        }
      }
      &_6 {
        .content {

        }
      }
      &_7 {
        .content {

        }
      }
      &_8 {
        .content {

        }
      }
      &_9 {
        .content {

        }
      }
    }
  }
}

// tablet
@media ( min-width: 321px ) and ( max-width: 799px ) {

}

// mobile
@media ( max-width: 320px ) {

}