.service .content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 30px;
  width: 100%; }
  .service .content svg {
    margin-bottom: 35px; }
  .service .content h3 {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #fa8707; }
  .service .content h2 {
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: 2.3px;
    margin-top: 5px; }
  .service .content p {
    opacity: .5;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    margin-top: 20px; }

@media (min-width: 800px) {
  .service .section_1 .content {
    flex-direction: row;
    margin-top: 100px; }
    .service .section_1 .content h2 {
      font-size: 32px;
      line-height: 1.5;
      letter-spacing: 2.5px;
      max-width: 350px; }
    .service .section_1 .content p {
      max-width: 483px; }
    .service .section_1 .content img {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-self: flex-end; }
  .service .section_2 .content {
    justify-content: space-between;
    margin-top: 162px;
    margin-bottom: 120px; }
    .service .section_2 .content h2 {
      max-width: 300px; }
    .service .section_2 .content p {
      max-width: 550px; }
    .service .section_2 .content .left, .service .section_2 .content .right {
      width: 50%; }
    .service .section_2 .content .right {
      justify-content: center; }
  .service .section_3 .content {
    position: relative;
    padding-top: 120px;
    padding-bottom: 100px; }
    .service .section_3 .content:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: -25%;
      height: 100%;
      width: 200%;
      background-color: #fff7e8; }
    .service .section_3 .content .left, .service .section_3 .content .right {
      width: 50%; }
  .service .section_4 .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 80px 0 102px;
    color: #fff; }
    .service .section_4 .content:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: -25%;
      height: 100%;
      width: 200%;
      background-color: #ffc012; }
    .service .section_4 .content p {
      opacity: .8;
      max-width: 440px; }
    .service .section_4 .content form {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-top: 35px; }
      .service .section_4 .content form input[type="text"] {
        padding: 14px 30px;
        background-color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 100px;
        width: 280px;
        margin-right: 10px;
        color: #061027; }
      .service .section_4 .content form .download.button {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 14px 30px;
        width: 120px;
        background-color: #ef4500;
        border-radius: 100px;
        font-size: 16px;
        font-weight: bold; }
        .service .section_4 .content form .download.button svg {
          margin-bottom: 0; }
  .service .section_5 .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 162px; }
    .service .section_5 .content h2, .service .section_5 .content p {
      max-width: 531px; }
    .service .section_5 .content img {
      margin-top: 68px; }
  .service .section_6 .content {
    position: relative;
    padding-top: 110px;
    padding-bottom: 154px; }
    .service .section_6 .content:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: -25%;
      height: 100%;
      width: 200%;
      background-color: #fff7e8; }
    .service .section_6 .content .left, .service .section_6 .content .right {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 50%; }
    .service .section_6 .content .left {
      flex-direction: column; }
    .service .section_6 .content .right {
      flex-direction: row;
      align-items: center; }
    .service .section_6 .content svg {
      margin-top: 0; }
    .service .section_6 .content h2 {
      max-width: 400px; }
    .service .section_6 .content p {
      max-width: 510px; }
  .service .section_7 .content {
    margin-top: 152px;
    margin-bottom: 124px; }
    .service .section_7 .content .left, .service .section_7 .content .right {
      width: 50%; }
    .service .section_7 .content .right {
      justify-content: flex-start; }
    .service .section_7 .content h2 {
      max-width: 385px; }
    .service .section_7 .content p {
      max-width: 510px; }
  .service .section_8 .content {
    position: relative;
    padding-top: 110px;
    padding-bottom: 69px; }
    .service .section_8 .content:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: -25%;
      height: 100%;
      width: 200%;
      background-color: #fff7e8; }
    .service .section_8 .content .left, .service .section_8 .content .right {
      width: 50%; }
    .service .section_8 .content h2 {
      max-width: 382px; }
    .service .section_8 .content p {
      max-width: 510px; }
  .service .section_9 .content {
    margin-top: 130px;
    margin-bottom: 140px; }
    .service .section_9 .content .left, .service .section_9 .content .right {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 50%; }
    .service .section_9 .content .left {
      justify-content: center;
      align-items: center; }
    .service .section_9 .content .right {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    .service .section_9 .content p {
      font-size: 22px;
      line-height: 1.45; } }
